{% extends "base.html" %}
{% block head_title %}
Blog Post detail Page

{% endblock head_title %}
{% block content %}
<div class="row">
    {% include "my_app/list-inline.html" with blog_post=detail_obj detail=True %}

    {% if request.user.is_authenticated %}
        {% if request.user.is_staff %}
            <div class="col-12">
                <a href="{{detail_obj.get_update_url}}"><button type="submit" name="edit">Edit</button></a>
                <a href="{{detail_obj.get_delete_url}}"><button type="submit" name="delete">Delete</button></a>
            </div>
        {% endif %}
    {% endif %}
</div>
{% endblock content %}